@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --delay: 0.06s;
}

.title {
  display: flex;
  overflow: hidden;
  color: #aa8f7b;
  font-family: 'Josefin Sans', sans-serif;
  white-space: pre;
}

.title span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition-delay: calc(var(--delay) * (var(--i) - 1));
}

.title.visible span {
  transform: translate(0, 0);
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}
