p {
  width: 80%;
}

.highlight {
  position: relative;
  background: linear-gradient(transparent 40%, yellow 40%);
}

/****** Base style. ******/
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: YuMincho, '游明朝体', 'YuMincho', '游明朝', 'Yu Mincho',
    'Hiragino Mincho ProN', 'ヒラギノ明朝 Pro W3';
}
